
.kolo{
	margin-bottom: 50px;
}
#gallery {
	padding-top:70px;
	padding-bottom:70px;
    background:#f4f4f4;
    min-height: 1000px;
}
#gallery img {
	border-radius:8px;
}

.gallery {
	margin-top:60px;
	margin-bottom:30px;
}

#gallery .text-center {
	padding-top:20px;
	margin-bottom:50px;
	padding-bottom:20px;
}

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}
#non{
    margin-bottom: 100px;
}